@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial.woff2');
}

@font-face {
    font-family: 'Arial';
    font-weight: bold;
    src: url('../fonts/Arial Bold.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial Narrow.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    font-weight: bold;
    src: url('../fonts/Arial Narrow Bold.woff2');
}

@font-face {
    font-family: 'Asterisk';
    src: url('../fonts/Asterisk.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/Burbank Small Medium.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    font-weight: bold;
    src: url('../fonts/Burbank Small Bold.woff2');
}

@font-face {
    font-family: 'Burbank Small Black';
    src: url('../fonts/Burbank Small Black.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    src: url('../fonts/CCComicrazy Regular.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/CCComicrazy Bold Italic.woff2');
}

@font-face {
    font-family: 'CCComicrazy';
    src: url('../fonts/CCComicrazy Regular.woff2');
}

@font-face {
    font-family: 'CCComicrazy';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/CCComicrazy Bold Italic.woff2');
}

@font-face {
    font-family: 'CCComicrazy';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/CCComicrazy Italic.woff2');
}

@font-face {
    font-family: 'CCFaceFront';
    src: url('../fonts/CCFaceFront.woff2');
}

@font-face {
    font-family: 'CCFaceFront';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/CCFaceFront Bold Italic.woff2');
}

@font-face {
    font-family: 'cplcd';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cplcd.woff2');
}

@font-face {
    font-family: 'Burbank Big';
    src: url('../fonts/Burbank\ Big.woff2');
}

@font-face {
    font-family: 'Burbank Big Regular';
    src: url('../fonts/BurbankBigRegular-Bold.woff2');
}

@font-face {
    font-family: 'Candombe';
    src: url('../fonts/Candombe.woff2');
}


@font-face {
    font-family: 'CCComicrazy-Roman';
    src: url('../fonts/CCComicrazy-Roman.woff2');
}

@font-face {
    font-family: 'Burbank Big Wide';
    src: url('../fonts/Burbank Big Wide Medium.woff2');
}

@font-face {
    font-family: 'Burbank Big Wide';
    font-weight: bold;
    src: url('../fonts/Burbank Big Wide Bold.woff2');
}

@font-face {
    font-family: 'DraculonRegular';
    src: url('../fonts/DraculonRegular.woff2');
}

@font-face {
    font-family: 'PumpkinJF';
    src: url('../fonts/PumpkinJF.woff2');
}

@font-face {
    font-family: 'Franklin Gothic Heavy';
    src: url('../fonts/FRAHV.woff2');
}

@font-face {
    font-family: 'RuneScapeBold';
    src: url('../fonts/RuneScapeBold.woff2');
}